<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @usertype.description %>
</p>

<%= link_to 'Edit', edit_usertype_path(@usertype) %> |
<%= link_to 'Back', usertypes_path %>
